/*.read-more-button {*/
/*  height: auto;*/
/*  font-family: ArialAMU;*/
/*  font-size: 14px;*/
/*  font-weight: normal;*/
/*  font-stretch: normal;*/
/*  font-style: normal;*/
/*  line-height: normal;*/
/*  letter-spacing: normal;*/
/*  text-align: left;*/
/*  color: red;*/
/*}*/

/*.read-more-button:hover {*/
/*  color: #009db8;*/
/*  cursor: pointer;*/
/*}*/
