ul{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}
a{
    color: black;
    font-size: 16px;
}

a:hover {
    color: #00B3C7;
}
h2 {
    margin-bottom: 0;
    height: auto;
}
@media only screen and (max-width: 770px){
    a{
        font-size: 14px;
    }
}