@font-face {
  src: url(../assets/fonts/Arial-AMU-Regular-8891.ttf);
  font-family: ArialAMU;
}
html {
  font-family: ArialAMU;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: ArialAMU;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font-family: ArialAMU;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: ArialAMU;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,
    ArialAMU;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,
    ArialAMU;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,
    ArialAMU;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,
    ArialAMU;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,
    ArialAMU;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace, ArialAMU;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
/*register*/
#register_address > div {
  width: 145px;
  height: 43px;
  border: solid 1px #009db8;
  background-color: #ffffff;
}
#register_full_name {
  width: 448px;
  height: 40px;
  border: solid 1px #009db8;
  background-color: #ffffff;
}
#register_email {
  width: 448px;
  height: 40px;
  border: solid 1px #009db8;
  background-color: #ffffff;
}
#register_passport_series {
  width: 146px;
  height: 40px;
  border: solid 1px #009db8;
  background-color: #ffffff;
}
#register_ID_card_number {
  width: 146px;
  height: 40px;
  border: solid 1px #009db8;
  background-color: #ffffff;
}
#register_given {
  width: 146px;
  height: 40px;
  border: solid 1px #009db8;
  background-color: #ffffff;
}
#register_when {
  width: 146px;
  height: 40px;
  border: solid 1px #009db8;
  background-color: #ffffff;
}
#register_birthday {
  width: 185px;
  height: 14px;
  font-family: ArialAMU;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
#register_psn {
  width: 448px;
  height: 40px;
  border: solid 1px #009db8;
  background-color: #ffffff;
}
#register_tin {
  width: 448px;
  height: 40px;
  border: solid 1px #009db8;
  background-color: #ffffff;
}
#register_phone {
  width: 448px;
  height: 40px;
  border: solid 1px #009db8;
  background-color: #ffffff;
}
#register_address {
  width: 290px;
  height: 43px;
  border: solid 1px #009db8;
  background-color: #ffffff;
}
#registerSubmit {
  width: 180px;
  height: 46px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  background-color: #009db8;
}
/*response*/
.phonebox {
  margin-right: 10%;
}
.phonedrop {
  background: white;
  width: 161px;
  height: 69px;
  text-align: center;
  margin-left: 7%;
}
.phonenumber {
  width: 91px;
  height: 10px;
  font-family: ArialAMU;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
#basic_username {
  width: 252px;
  height: 38px;
}
#basic_username label {
  width: 122px;
  height: 14px;
  font-family: ArialAMU;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding: 0%;
}
#basic_companyname {
  width: 252px;
  height: 38px;
}
#basic_user_email {
  width: 252px;
  height: 38px;
  margin-left: 2%;
}
#uploadbuttoncompany {
  width: 252px;
  height: 38px;
  margin-left: 2%;
  text-align: right;
}

#basic_title {
  width: 514px;
  height: 38px;
}
#basic_textarea {
  width: 514px;
  height: 80px;
  margin-bottom: 20px;
}
#formtextarea {
  width: 514px;
  height: 80px;
}
#uploadbutton {
  width: 514px;
  height: 38px;
  text-align: right;
}
#submitbotton {
  width: 180px;
  height: 46px;
  margin: 5px;
}
#submitbottoncompany {
  width: 180px;
  height: 46px;
  margin: 7px -30px;
}

@media only screen and (max-width: 375px) {
  #basic_username {
    width: 270px;
    height: 38px;
  }
  #basic_companyname {
    width: 270px;
    height: 38px;
  }
  #basic_user_email {
    width: 270px;
    height: 38px;
  }
  #uploadbuttoncompany {
    width: 270px;
    height: 38px;
    text-align: right;
  }
  #uploadbutton {
    width: 270px;
    height: 38px;
    text-align: right;
  }
  #basic_title {
    width: 270px;
    height: 38px;
    margin-bottom: 20px;
  }
  #basic_textarea {
    width: 270px;
    height: 80px;
  }
  #formcontact div {
    width: 518px;
    height: auto;
    margin-top: 0px;
  }
  #formcontact div {
    margin-top: 0%;
  }
  #submitbotton {
    width: 180px;
    height: 46px;
    margin-left: -26%;
    margin-top: 20px;
  }
  #submitbottoncompany {
    width: 180px;
    height: 46px;
    margin-left: -20%;
    margin-top: 0px;
  }
  /*register*/
  #register_full_name {
    width: 290px;
    height: 40px;
    border: solid 1px #009db8;
    background-color: #ffffff;
  }
  #register_email {
    width: 290px;
    height: 40px;
    border: solid 1px #009db8;
    background-color: #ffffff;
  }
  #register_psn {
    width: 290px;
    height: 40px;
    border: solid 1px #009db8;
    background-color: #ffffff;
  }
  #register_tin {
    width: 290px;
    height: 40px;
    border: solid 1px #009db8;
    background-color: #ffffff;
  }
  #register_phone {
    width: 290px;
    height: 40px;
    border: solid 1px #009db8;
    background-color: #ffffff;
  }
  #register_address {
    width: 290px;
    height: 40px;
    border: solid 1px #009db8;
    background-color: #ffffff;
  }
  #register_passport_series {
    width: 290px;
    height: 40px;
    border: solid 1px #009db8;
    background-color: #ffffff;
  }
  #register_ID_card_number {
    width: 290px;
    height: 40px;
    border: solid 1px #009db8;
    background-color: #ffffff;
  }
  #register_given {
    width: 290px;
    height: 40px;
    border: solid 1px #009db8;
    background-color: #ffffff;
  }
  #register_when {
    width: 290px;
    height: 40px;
    border: solid 1px #009db8;
    background-color: #ffffff;
  }
  #register_given {
    width: 290px;
    height: 40px;
    border: solid 1px #009db8;
    background-color: #ffffff;
  }
  #register_when {
    width: 290px;
    height: 40px;
    border: solid 1px #009db8;
    background-color: #ffffff;
  }
}

#basic_career {
  width: 540px;
  margin-left: 5%;
}
#basic_career_textarea {
  height: 80px;
}
#careersubmitcol {
  padding-top: 7.5%;
  margin-left: 25%;
}
#careeruploadbutton {
  width: 340px;
  height: 46px;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  #basic_textarea {
    max-width: 102%;
    margin-bottom: 20px;
  }
  #basic_career_textarea {
    height: 80px;
  }
  #basic_career {
    width: 540px;
  }
  #basic_user_email {
    width: 245px;
    height: 38px;
    margin-left: 6%;
  }
  #uploadbuttoncompany {
    width: 245px;
    height: 38px;
    margin-left: 4%;
    text-align: right;
  }
  #basic_username {
    width: 240px;
    height: 38px;
  }
  #basic_title {
    width: 500px;
    height: 38px;
  }
  #uploadbutton {
    width: 500px;
    height: 38px;
    text-align: right;
  }
}

@media only screen and (max-width: 375px) {
  #basic_user_email {
    width: 270px;
    height: 38px;
    margin-left: 0%;
  }
  #uploadbuttoncompany {
    width: 270px;
    height: 38px;
    margin-left: 0%;
    text-align: right;
  }
  #basic_username {
    width: 270px;
    height: 38px;
  }
  #uploadbutton {
    width: 270px;
    height: 38px;
    text-align: right;
  }
  #basic_title {
    width: 270px;
    height: 38px;
  }
  #formcontact {
    width: 290px;
    padding: 2% 2%;
    margin-left: 2%;
  }
}
@media only screen and (max-width: 375px) {
  #basic_career {
    width: 290px;
  }
  #basic_career_textarea {
    height: 160px;
  }
  #careersubmitcol {
    padding-top: 7.5%;
    margin-left: 0%;
  }
  #careeruploadbutton {
    width: 290px;
    height: 46px;
    text-align: right;
  }
}
@media only screen and (max-width: 320px) {
  #basic_career {
    width: 290px;
  }
  #basic_career_textarea {
    max-width: 95%;
    height: 160px;
  }
  #careeruploadbutton {
    width: 280px;
    height: 46px;
    text-align: right;
  }
}
.languagetext {
  width: 18px;
  height: 13px;
  font-family: ArialAMU;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.languagedrop {
  width: 63px;
  height: 52px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #ebebeb;
  background-color: #ffffff;
  cursor: pointer;
  margin-left: -15px;
  text-align: center;
}

.languagetext:hover {
  color: #009db8;
}
#footerfirstrow {
  height: 70%;
}
#footersecondtrow {
  height: 30%;
}
.copyright {
  width: 95px;
  height: 13px;
  font-family: ArialAMU;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #e8e8e8;
}
.footerlinkweb {
  /* width: 155px; */
  height: 13px;
  font-family: ArialAMU;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #e8e8e8;
  text-decoration: underline;
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
@media only screen and (max-width: 1200px) {
  .phonebox {
    margin-right: 6%;
  }
}

@media only screen and (min-width: 1170px) {
  .slick-slider {
    margin-top: -50px;
    margin-left: -20px;
    margin-right: -20px;
  }
}
@media only screen and (max-width: 768px) {
  .slick-slider {
    margin-left: -20px;
    margin-right: -20px;
  }
}
@media only screen and (min-width: 1366px) {
  .slick-slider {
    margin-top: -50px;
    margin-left: -50px;
    margin-right: -50px;
  }
}

@media (min-width: 1600px) {
  #basic_username {
    width: 252px;
    height: 38px;
  }
  #basic_textarea {
    max-width: 109%;
    margin-bottom: 20px;
  }
  .slick-slider {
    margin-top: -50px;
    margin-left: -100px;
    margin-right: -100px;
  }
  .phonedrop {
    background: white;
    width: 161px;
    height: 69px;
    text-align: center;
    margin-left: 20%;
  }
  #register_city > div {
    width: 146px;
  }
}
